@import "../../../../schemes";
@import "../globals";

$spacingLR: 0.5rem;
$iconWidth: 1rem;

.textbox {
  margin: 0.2rem 0;
  padding: 0.3rem 0;
  color: map-get($map: $text, $key: "black");
  border-radius: 0.3rem;
  border: 2px solid map-get($map: $border-color, $key: "color");
  transition: $transition;
  box-sizing: content-box;
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    background: #ffffff8c;
    transition: $transition;
  }

  ._icon {
    width: $iconWidth;
  }

  .prefix {
    @extend ._icon;
    margin-left: $spacingLR;
  }

  .suffix {
    @extend ._icon;
    margin-right: $spacingLR;
  }

  &.disabled {
    .overlay {
      z-index: 10;
      opacity: 1;
    }

    border-color: map-get($map: $border-color, $key: "disabled");
  }

  &.focus {
    border-color: map-get($map: $border-color, $key: "focused");
  }

  input {
    border: none;
    outline: none;
    margin: 0 $spacingLR;
    width: 100%;

    &:disabled {
      color: map-get($map: $border-color, $key: "disabled");
    }
  }
}
