<div
  class="textbox"
  [ngStyle]="{
    width: autoWidth ? '99%' : width + 'rem',
    height: height + 'rem',
    'max-width': width + 'rem',
    'max-height': height + 'rem'
  }"
  [ngClass]="{ disabled: isDisabled, focus: isFocused }"
>
  <div class="overlay"></div>
  <img
    class="prefix"
    src="../../../../assets/icons/nutella/settings.png"
    alt=""
    *ngIf="prefixIcon"
  />
  <img
    class="prefix"
    [src]="'../../../../assets/icons/nutella/' + prefixNutellaIcon + '.png'"
    alt=""
    *ngIf="prefixNutellaIcon"
  />

  <input
    [type]="type"
    [disabled]="isDisabled"
    [placeholder]="placeholder"
    (input)="value.next($event.target.value)"
    (focus)="isFocused = true"
    (blur)="isFocused = false"
  />

  <img
    class="suffix"
    src="../../../../assets/icons/nutella/settings.png"
    alt=""
    *ngIf="suffixIcon"
  />
  <img
    class="suffix"
    [src]="'../../../../assets/icons/nutella/' + suffixNutellaIcon + '.png'"
    alt=""
    *ngIf="suffixNutellaIcon"
  />
</div>
