@import "../../../../schemes";

$width: 22vw;

.notifications {
  position: absolute;
  top: $topbarHeight;
  right: -$width;
  width: $width;
  opacity: 0;
  height: calc(100vh - #{$topbarHeight});
  transition: map-get($map: $panel-transition, $key: "notifications");
  backdrop-filter: $panel-backdrop;
  background: $panel-background;
  z-index: 1e5;

  &.opened {
    right: 0;
    opacity: 1;
  }
}
