<div class="topbar">
  <div class="cyanide">
    <img src="../../../../assets/icons/logo.png" alt="" />
    <!-- <img src="../../../../assets/icons/icons/cyanide-os.png" alt="" /> -->
  </div>
  <div class="applications">{{ topPanelManagerService.title | async }}</div>
  <div class="actions">
    <img
      src="../../../../assets/icons/icons/notification-24x24.svg"
      (click)="toggleNotificationPanel()"
      alt=""
    />
    <img
      src="../../../../assets/icons/icons/wifi-50x50.svg"
      (click)="toggleNotificationPanel()"
      alt=""
    />
    <img
      src="../../../../assets/icons/icons/settings-24x24.svg"
      (click)="toggleNotificationPanel()"
      alt=""
    />
  </div>
</div>
