@import "src/scss/constants";

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.4rem;
  transition: map-get($map: $panel-transition, $key: "taskbar-panel");

  .content {
    backdrop-filter: $panel-backdrop;
    background: $panel-background;
    z-index: 1e5;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 90vw;
    height: 3.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5rem);
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      transition: map-get($map: $panel-transition, $key: "taskbar-icon");

      &:active {
        transform: scale(1.1);
      }
    }
  }
}
