<div class="content">
  <div class="taskbar"></div>
  <div class="main">
    <h2 style="text-align: center;">Welcome to Outlook!</h2>
    <br />
    <native-textbox
      [prefixNutellaIcon]="'person'"
      [autoWidth]="true"
      [isDisabled]="true"
      [placeholder]="'Username'"
    ></native-textbox>
    <native-textbox
      [prefixNutellaIcon]="'password'"
      [autoWidth]="true"
      [placeholder]="'Password'"
      [type]="'password'"
    ></native-textbox>
    <br />
    <br />
    <native-button
      [nutellaIcon]="'security'"
      [innerText]="'Signup'"
    ></native-button>
  </div>
</div>
