@import "../../../../schemes";

.taskbar {
  display: grid;
  grid-template-columns: calc(#{$taskbarHeight} + 1rem) auto 4rem;
  align-items: center;
  box-shadow: 0 42px 84px #ccc;
  max-height: $taskbarHeight;
  backdrop-filter: blur(3px) saturate(0.4) contrast(0.9);

  $paddingTB: 0.2rem;

  .cyanide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $paddingTB 1rem;

    img {
      height: calc(#{$taskbarHeight} - (#{$paddingTB} * 2));
    }

    &:hover {
      background: #ffffff60;
    }
  }
}
