@import "../schemes";

.root {
  display: grid;
  grid-template-rows: $taskbarHeight calc(100vh - #{$taskbarHeight});

  background-size: cover;

  .windows {
    max-height: calc(100vh - #{$taskbarHeight});
    overflow: hidden;
  }
}
