@import "../schemes";

.root {
  display: grid;
  grid-template-rows: calc(100vh - #{$taskbarHeight}) $taskbarHeight;

  background-size: cover;

  .windows {
    max-height: calc(100vh - #{$taskbarHeight});
    overflow: hidden;
  }
}
