<div
  class="root"
  [ngStyle]="{
    background: 'url(' + (getWallpaperUrl() | async) + ')',
    'background-size': 'cover'
  }"
>
  <TopPanel></TopPanel>
  <Desktop></Desktop>

  <Window
    class="window"
    [window]="window"
    cdkDrag
    *ngFor="let window of windowsManagerService.openedWindows | async"
    [id]="'win-' + window.pid"
    [ngStyle]="{
      'z-index': window.zIndex,
      left: window.positionX + 'rem',
      top: window.positionY + 'rem'
    }"
  ></Window>
</div>

<NotificationPanel></NotificationPanel>
<TaskPanel></TaskPanel>
