@import "../../../../schemes";
@import "../globals";

button {
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 0.3rem;
  font-weight: 500;
  outline: none;
  background: map-get($map: $primary, $key: "color");
  color: map-get($map: $text, $key: "body");
  transition: $transition;

  &:hover {
    background: map-get($map: $primary, $key: "hover");
  }

  &:active {
    transform: scale(0.95);
  }

  &.disabled {
    background: map-get($map: $primary, $key: "disabled");
    color: map-get($map: $text, $key: "disabled");

    &:hover {
      background: map-get($map: $primary, $key: "disabled");
    }

    &:active {
      transform: unset;
    }
  }

  &.outlined {
    border: 2px solid map-get($map: $primary, $key: "outlined");
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;

    img.button-icon {
      height: 100%;
      margin-right: 0.7rem;
    }
  }
}
