@import "../../../../schemes";
@import "../globals";

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  outline: none;
  background: $primary;
  color: $text-body;
  transition: $transition;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    transform: scale(0.95);
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;

    img.button-icon {
      height: 100%;
      margin-right: 0.7rem;
    }
  }
}
