@import "src/scss/constants";

$width: 22vw;
$margin: 1.5rem;

.notifications {
  position: absolute;
  top: calc(#{$topbarHeight} + #{$margin});
  right: -$width;
  width: $width;
  opacity: 0;
  height: calc(100vh - #{$topbarHeight} - (#{$margin} * 2));
  backdrop-filter: $panel-backdrop;
  background: $panel-background;
  border-radius: 1rem;
  z-index: 1e5;
  padding: 2rem;
  transform: scale(0.7);
  transition: map-get($map: $panel-transition, $key: "notifications")
    ease-in-out;

  &.opened {
    transform: scale(1);
    right: $margin;
    opacity: 1;
  }
}
