<div class="window">
  <div class="control">x</div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptates
      impedit distinctio quae aliquam! Praesentium expedita possimus deleniti ad
      consectetur necessitatibus quaerat maiores nesciunt illo, animi corporis
      iusto architecto eos!
    </p>
    <native-button
      [icon]="'../../../../assets/icons/icons/wifi-50x50.svg'"
      [innerText]="'Start Networking'"
    ></native-button>
  </div>
</div>
