<div
  class="window"
  cdkDrag
  [id]="'win-' + window.pid"
  (blur)="log('blur')"
  (focus)="log('focus')"
  (mousedown)="bringToFront()"
  [ngClass]="{ focused: focused }"
  [ngStyle]="{
    width: width,
    'max-width': width,
    height: height,
    'max-height': height,
    top: position.X + 'rem',
    left: position.Y + 'rem',
    'z-index': window.zIndex
  }"
>
  <div class="control">
    <div class="window-info">
      <img src="../../../../assets/icons/icons/outlook-48x48.svg" alt="" />
      <div class="title">Welcome to Outlook!</div>
    </div>
    <div class="actions">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close" (click)="closeWindow()"></div>
    </div>
  </div>
  <div class="content">
    <!-- {{ focused }} -->
    <!-- <ms-outlook-microsoft-com></ms-outlook-microsoft-com> -->
    <ms-messenger-microsoft-com></ms-messenger-microsoft-com>
  </div>
</div>
