<div
  class="window"
  cdkDrag
  (cdkDragMoved)="drag($event)"
  [id]="'win-' + windowId"
  [ngStyle]="{
    width: width,
    'max-width': width,
    height: height,
    'max-height': height
  }"
>
  <div class="control">
    <div class="window-info">
      <img src="../../../../assets/icons/icons/outlook-48x48.svg" alt="" />
      <div class="title">Welcome to Outlook!</div>
    </div>
    <div class="actions">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close"></div>
    </div>
  </div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptates
      impedit distinctio quae aliquam! Praesentium expedita possimus deleniti ad
      consectetur necessitatibus quaerat maiores nesciunt illo, animi corporis
      iusto architecto eos!
    </p>
    <br />
    <native-button
      [icon]="'../../../../assets/icons/icons/wifi-50x50.svg'"
      [innerText]="'Start Networking'"
    ></native-button>
  </div>
</div>
