@import "../../../../schemes";

.topbar {
  display: grid;
  grid-template-columns: calc(#{$topbarHeight} + 1rem) auto 10rem;
  align-items: center;
  box-shadow: 0 42px 84px #ccc;
  max-height: $topbarHeight;
  background: $panel-background;
  backdrop-filter: $topbar-backdrop;

  $paddingTB: 0.2rem;

  img {
    height: calc(#{$topbarHeight} - (#{$paddingTB} * 2));
    filter: invert(0);
  }

  .cyanide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $paddingTB 1rem;

    &:hover {
      background: #ffffff60;
    }
  }

  .applications {
    font-weight: 500;
    font-size: 0.7rem;
  }

  .actions {
    $paddingLR: 0.3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, calc(1rem + (#{$paddingLR} * 2)));
    align-items: center;

    img {
      padding: 0 $paddingLR;
    }
  }
}
