$taskbarHeight: 1.4rem;

//& Theme
//? Body
$primary: (
  "color": #007bff,
  "hover": #006fe6,
  "disabled": #0059b8,
  "outlined": #ffffff8a,
);

//? Text
$text: (
  "body": #fff,
  "disabled": #dfdfdf,
);

$transition: all 0.2s ease-out;

$panel-transition: (
  "notifications": all 0.1s ease-in,
);
$panel-background: #ffffffc9;
$taskbar-backdrop: blur(7px) contrast(0.9);
$panel-backdrop: blur(3px) contrast(0.9);
