$taskbarHeight: 1.5rem;

//& Theme
//? Body
$primary: (
  "color": #007bff,
  "hover": #006fe6,
  "disabled": #0059b8,
  "outlined": #ffffff8a,
);

//? Text
$text: (
  "body": #fff,
  "disabled": #dfdfdf,
);

@function change() {
  $primary: #fff;
}
