$topbarHeight: 1.4rem;

//& Theme
//? Body
$primary: (
  "color": #007bff,
  "hover": #006fe6,
  "disabled": #0059b8,
  "outlined": #ffffff8a,
);

//? Text
$text: (
  "white": #fff,
  "black": #1a1a1a,
);

$transition: all 0.2s ease-out;

$panel-transition: (
  "notifications": all 150ms ease-in-out,
  "taskbar-panel": all 150ms ease-in-out,
  "taskbar-icon": all 200ms ease-in-out,
);
$panel-background: #ffffff87;
// $topbar-backdrop: blur(7px) contrast(0.9);
$topbar-backdrop: blur(10px) contrast(1.2);
$panel-backdrop: blur(3px) contrast(0.9);
