@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Hind Madurai", sans-serif;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

::selection {
  background: #00000021;
}
